* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently */
}

html {
    background-color: #141414;
    color: white;
}

body, header, main, footer {
    display: flex;
    align-items: center;
}

body, header, main {
    flex-direction: column;
}

header, main, footer {
    width: 90%;
    max-width: 60rem;
}

body {
}

header {
    gap: 1rem;
    margin-bottom: 5rem;
}

footer {
    gap: 0.5rem;
}

/* Header Styles */

.logo {
    font-family: 'Times New Roman', Times, serif;
    font-size: 6rem;
}

.l-dash {
    color: rgb(0, 255, 149);
    font-size: 2rem;
}

.a-img {
    /* max-width: 15rem; */
    width: clamp(5rem, 50%, 17rem);
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.h-descriptor, .h-code-t, .blurb, .s-container {
    text-align: center;
}

.h-code-t {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 0.2rem;
    border-left: 1px dashed rgba(255, 255, 255, 0.548);
    padding-left: 1rem;
}

.c-field {
    margin-left: 1rem;
}

@media (max-width: 300px) {
    .c-field {
        margin-left: 0;
    }
}

.c-green {
    color: rgb(0, 255, 149)
}

.l-green {
    color: rgb(174, 245, 215);
}

.c-indent {
    animation: 1s c-breathing infinite;
    animation-fill-mode: both;
}

.h-descriptor {
    font-size: clamp(1rem, 1vh, 2rem)
}

.blurb {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* Skills Styles */

.s-section, .a-section {
    display: flex;
    flex-direction: column;
}

.title-section {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    border-bottom: 1px solid white;
    margin-bottom: 1rem;
}

.s-section, .a-section, .p-section {
    width: 100%;
    margin-bottom: 3rem;
}

.s-stack {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.s-card {
    display: flex;
    gap: 0.5rem;
    border: 1px solid white;
    border-radius: 2px;
    width: max-content;
    padding: 0.5rem 1rem;
}

/* About Styles */

.a-stack {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.a-para {
    border-left: 1px dashed white;
    padding-left: 1rem;
}

/* Project Styles */

.p-stack {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.p-block {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow: hidden;
    /* border-left: 1px dashed white;
    padding-left: 1rem;
    border-right: 1px dashed white;
    padding-right: 1rem; */
}

.p-card-title {
    border-bottom: 1px solid white;
}

.p-card {
    border-left: 1px dashed white;
    padding-left: 1rem;
    border-right: 1px dashed white;
    padding-right: 1rem;
}

.p-img {
    max-width: 16rem;
    border: 1px solid rgb(128, 128, 128);
}

footer {
    justify-content: center;
    padding-bottom: 1rem;
}

@keyframes c-breathing {
    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}