* {
    margin: 0;
    padding: 0;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

html {
    background-color: #141414;
  
    

}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
}

.testHeader {
    
}

.logo {
    color: white;
    font-size: 5rem;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 5px 5px rgb(143, 143, 143);
    padding: 2rem;

    animation: 2s slidein;
    transform-origin: left;
}

.l-dash {
    color: rgb(0, 255, 149);
    font-size: 1.5rem;
}

.a-img {
    width: 200px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

.h-descriptor {
    color: white;
    font-family: monospace;
    font-size: 1rem;
    font-weight: 100;
    font-style: italic;
    padding: 1.5rem;

    animation: 1s spawn;
    transform-origin: left;
}

.h-code {
    max-width: 300px;
    text-align: center;

    animation: 1s spawn;
    transform-origin: left;
}

.h-codeT {
    font-size: 0.8rem;
    color: white;
    font-family: monospace;
    display: flex;
    padding-left: 1rem;
    flex-direction: column;
    border-left: 1px dashed rgb(153, 153, 153);
}

.type {
    background-color: #141414;
    background-size: calc(var(--n)*1ch) 200%;
    -webkit-background-clip: padding-box, text;
    background-clip: padding-box, text;
    background-repeat: no-repeat;
    animation: b .7s infinite steps(1), t calc(var(--n)*.3s) steps(var(--n)) forwards;
}

.l-green {
    color: rgb(0, 255, 149);
}

.c-green {
    color: rgb(174, 245, 215);
}

.c-indent {
    animation: 1s fastBreathing infinite;
}

.blurb {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 5rem;
    
    color: white;
    font-size: 0.9rem;
    font-family: monospace
}

.s-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin-top: 4rem;
    animation: 4s breathing infinite;
}

.scroll-t {
    color: white;
    font-family: monospace;
    font-weight: bold;

    animation: 4s breathing infinite;
}

.s-img {
    width: 25px;
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    width: 100%;
}

.s-section {
    align-self: center;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: white;

    font-family: monospace;
}

.s-title {
    border-bottom: 1px solid rgb(255, 255, 255, 0.5);
}

.s-stack {
    display: flex;
    justify-content: center;
    gap: 1rem;
    max-width: 700px;
    flex-wrap: wrap;

    border-left: 1px dashed rgb(255, 255, 255, 0.5);
    border-right: 1px dashed rgb(255, 255, 255, 0.5);
    padding-bottom: 1rem;
}

.s-card {
    display: flex;
    align-items: center;
    gap: 10px;

    width: 125px;
    height: 25px;
    padding: 5px 15px;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 5px;    
}

.s-card:hover {
    animation: 0.25s p-enlarge;
    animation-fill-mode: both;
    border: 1px solid rgb(223, 223, 223);
    font-weight: bold;
}

.p-section {
    align-self: center;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    color: white;
    font-family: monospace;
    max-width: 700px;
    margin-top: 5rem;
}

.p-title {
    border-bottom: 1px solid rgb(255, 255, 255, 0.5);
    max-width: 700px;
}

.p-stack {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.p-block {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-left: 1px dashed rgb(255, 255, 255, 0.5);
    border-right: 1px dashed rgb(255, 255, 255, 0.5);
    padding-left: 1rem;
    padding-right: 1rem;
}

.p-card-title {
    border-bottom: 1px solid rgb(255, 255, 255, 0.5);
}

.p-card {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(128, 128, 128);
    width: 175px;
    height: max-content;
    overflow: hidden;
}

.p-img {
    display: flex;
    width: 100%;
}

.p-card:hover {
    border: 1px dashed white;
    animation: 0.25s p-enlarge;
    animation-fill-mode: both;
    animation-direction: alternate;
}

.p-card-icons {
    display: flex;

}

.a-section {
    align-self: center;
    
    display: flex;
    flex-direction: column;
    gap: 1rem;

    color: white;
    font-family: monospace;

    max-width: 700px;
    margin-top: 5rem;
}

.title-section {
    display: flex;
    align-items: flex-end;
    gap: 0.5rem;
}

.a-title {
    border-bottom: 1px solid rgb(255, 255, 255, 0.5);
}


.a-para {
    font-style: italic;
    padding-left: 1rem;
    border-left: 1px dashed rgb(255, 255, 255, 0.5);
}

footer {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 5rem;
    padding: 2rem;
    /* background-color: #242424; */
}

.footerIcon:hover {
    animation: 0.25s fi-enlarge;
    animation-fill-mode: both;
}



@media (max-width: 1000px) {
    .a-img {
        width: 125px;
        animation: 1.5s fadein
    }

    header {
        padding-top: 1rem
    }

    .logo {
        animation: 1.5s fadein
    }

    .h-descriptor {
        text-align: center;
        font-size: 0.8rem;
    }

    .h-code {
        text-align: center;
        margin: 1rem;

    }

    .h-code, .descriptor {
        animation: 1.5s fadein;
    }

    .blurb {
        margin-top: 2rem;
        text-align: center;
        width: 80%;
    }

    h3 {
        font-size: 0.8rem;
    }

    h5 {
        font-size: 0.7rem;
        text-align: center;
    }    
}

/* ANIMATIONS LIST */

@keyframes p-enlarge {
    100% {
        transform: scale(1.025);
    }
}

@keyframes fi-enlarge {
    100% {
        transform: scale(1.2);
    }
}

@keyframes slidein {
    0% {
        transform: translate(0, -1000px);
        text-shadow: 0px 0px rgb(143, 143, 143);
    }

    30% {
        transform: translate(0, 0);
        text-shadow: 0px 0px rgb(143, 143, 143);
    }

    60% {
        text-shadow: 5px 5px rgb(143, 143, 143);
    }
}

@keyframes fadein {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes spawn {
    0% {
        transform: skew(100deg)
    }
    75% {
        transform: skew(0deg)
    }
}

@keyframes breathing {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fastBreathing {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes t {
    from {background-size: 0 200%;}
}

@keyframes b {
    50% {background-position: 0 -100%, 0 0;}
}